@page
@model WebClient.Views.UserQuestions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserQuestion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserQuestion.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserQuestion.Province.ProvinceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserQuestion.AuthorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserQuestion.AuthorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserQuestion.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserQuestion.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserQuestion.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserQuestion.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserQuestion.Published)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserQuestion.Published)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserQuestion.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserQuestion.LastUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserQuestion.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserQuestion.CreatedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserQuestion.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
